<div class="col-xl-4 col-md-12">
    <div class="card mat-clr-stat-card text-white green ">
        <div class="card-block">
            <div class="row">
                <div class="col-3 text-center bg-c-green">
                    <i class="fas fa-star mat-icon f-24"></i>
                </div>
                <div class="col-9 cst-cont">
                    <h5>@ViewBag.SubscribeCount</h5>
                    <p class="m-b-0">Aboneler</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mat-clr-stat-card text-white blue">
        <div class="card-block">
            <div class="row">
                <div class="col-3 text-center bg-c-blue">
                    <i class="fas fa-trophy mat-icon f-24"></i>
                </div>
                <div class="col-9 cst-cont">
                    <h5>@ViewBag.BookASeatCount</h5>
                    <p class="m-b-0">Rezervasyon Sayısı</p>
                </div>
            </div>
        </div>
    </div>
</div>
