@model KidKinder.Entites.Service
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Yeni Servis Girişi</h5>
                                <span>Servis ile ilgili verileri eksiksiz olarak doldurunuz.</span>
                            </div>
                            <div class="card-block">
                                <form method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Id</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="ServiceId" class="form-control" readonly value="@Model.ServiceId">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Servis Adı</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Title" class="form-control" value="@Model.Title"> 
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Description" class="form-control" value="@Model.Description">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Icon Url</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="IconUrl" class="form-control" value="@Model.IconUrl">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Servisi Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

