
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Yeni Hakkımda Girişi</h5>
                                <span>Hakkımda ile ilgili verileri eksiksiz olarak doldurunuz.</span>
                            </div>
                            <div class="card-block">
                                <form method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Big Image Url</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="BigImageUrl" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Başlık</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Header" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Etiket</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Description" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Small Image Url</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="SmallImageUrl" class="form-control">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Hakkım Bilgisini Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

